<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
<mat-form-field>
   <input type="text" #val matInput [formControl]="myControl" 
   placeholder="Game Title"
   [value]="in" [matAutocomplete]="auto">
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete">
   <mat-option  *ngFor="let game of filteredOptions | async" [value]="game">
      {{ game }}
   </mat-option>
</mat-autocomplete> 


<button mat-raised-button (click)="onSearch(val.value)" color="primary">Search</button>
<button *ngIf="searchi" mat-raised-button (click)="cancel()" color="warn">Cancel</button>
<button mat-raised-button (click)="sort()" color="primary">Sort By Score
  <i *ngIf="sortDsc" class="material-icons">keyboard_arrow_down</i>
   <i *ngIf="sortAsc" class="material-icons">keyboard_arrow_up</i>
</button>
</div>
<div class="card">
<mat-card class="content" *ngFor="let game of games | paginate: { itemsPerPage: 6, currentPage: p}">
  <mat-card-header>
    <mat-card-title style="font-size: 20px;">{{game.title}}</mat-card-title>
    <mat-card-subtitle> Platform:  {{game.platform}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
 <p>SCORE: {{game.score}}</p>
 <p>GENRE:{{game.genre}}</p>
 <p>Editor: {{game.editors_choice}}</p>
  </mat-card-content>
</mat-card>
</div>
<div id="footer">
<pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>